@import "./../../../../style-sheets/theme";
@import "./../../../../style-sheets/mixin";

.banner-container {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }

  .qrcode {
    position: absolute;
    width: 10vw!important;
    height: 10vw!important;
    left: 400px;
    opacity: 1;
    transition: all .3s ease;
    &.android {
      bottom: 23%;
    }
    &.ios {
      bottom: 13%;
    }
    &.hide {
      opacity: 0;
    }
    canvas {
      width: 100%!important;
      height: 100%!important;
    }
    .triangle {
      left: -32px;
      border: 16px solid transparent;
      border-right-color: #fff;
      @include wh(0, 0);
    }
  }

  .download-btn {
    position: absolute;
    text-align: center;
    color: $theme-color;
  }

  .carousel-container {
    position: absolute;
    overflow: hidden;
    .swiper-wrapper {
      @include wh(100%!important, 100%!important);
      .swiper-slide {
        @include wh(100%!important, 100%!important);
      }
    }
  }
  .pages-container {
    position: absolute;
  }
}

@media only screen and (max-width: 1080px) {
  .banner-container {
    .download-btn {
      line-height: .5rem;
      left: .6rem;
      top: 4.54rem;
      border: .02rem solid $theme-color;
      border-radius: .25rem;
      font-size: .2rem;
      @include wh(2.15rem, .5rem);
    }
  }

  .carousel-container {
    right: 1.5rem;
    bottom: 1.8rem;
    @include wh(2.63rem, 4.66rem);
  }
}

@media only screen and (min-width: 1081px) {
  .banner-container {
    .download-btn {
      line-height: 50px;
      left: 130px;
      border: 2px solid $theme-color;
      border-radius: 25px;
      font-size: 18px;
      @include wh(220px, 50px);
      i {
        margin-bottom: -3px;
        @include wh(20px, 20px);
      }
      &.android {
        bottom: 30%;
        i {
          @include icon-normal('./../../assets/logo_android.png');
        }
      }
      &.ios {
        bottom: 20%;
        i {
          @include icon-normal('./../../assets/logo_ios.png');
        }
      }
    }

    .carousel-container {
      right: 33.5%;
      bottom: 18%;
      @include wh(18.5vw, 33vw);
    }

    .pages-container {
      right: 48%;
      bottom: 6%;
    }
  }
}
