.banner-container {
  position: relative;

  canvas {
    position: absolute;
    width: 160px!important;
    height: 160px!important;
    top: 450px;
    left: 50%;

    &#android {
      transform: translateX(-110%);
    }

    &#ios {
      transform: translateX(10%);
    }
  }

  span {
    position: absolute;
    top: 620px;
    left: 50%;
    color: #fff;

    &.android {
      transform: translateX(-180%);
    }

    &.ios {
      transform: translateX(280%);
    }
  }
}
