.banner-container {
  position: relative;

  canvas {
    position: absolute;
    width: 120px!important;
    height: 120px!important;
    bottom: 60px;
    left: 50%;

    &#android {
      transform: translateX(-110%);
    }

    &#ios {
      transform: translateX(10%);
    }
  }

  span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #fff;

    &.android {
      transform: translateX(-150%);
    }

    &.ios {
      transform: translateX(200%);
    }
  }
}
