@import "./../../../../style-sheets/mixin";

.banner-container {
  position: relative;
  width: 100%;
  img {
    width: 100%;
  }

  .qrcode {
    position: absolute;
    width: 10vw!important;
    height: 10vw!important;
    bottom: 13%;
    left: 7.5%;
    @include icon-normal('./../../assets/border.png');
  }

  canvas {
    width: 80% !important;
    height: 80% !important;

    &#android {
      //transform: translateX(-110%);
    }

    &#ios {
      transform: translateX(10%);
    }
  }

  span {
    position: absolute;
    bottom: 20px;
    left: 50%;
    color: #fff;

    &.android {
      transform: translateX(-150%);
    }

    &.ios {
      transform: translateX(200%);
    }
  }
}
