@import "./../../../../style-sheets/theme";
@import "./../../../../style-sheets/mixin";

section {
  background-color: $light-grey-background;
}

@media only screen and (min-width: 1081px) {
  section {
    .container {
      width: 1200px;
      margin: 0 auto;
      padding: 50px 0 60px;
    }

    .img {
      width: 40%;
    }

    article {
      width: calc(60% - 25px);
      margin-left: 25px;
      margin-top: 180px;
    }
  }
}

@media only screen and (max-width: 1080px) {
  section {
    .container {
      padding: .4rem;

      .img {
        width: 50%;
      }

      article {
        margin-left: .1rem;
        margin-top: 1.4rem;
        width: calc(50% - .1rem);
      }
    }
  }
}
