@import "./../../../../style-sheets/theme";
@import "./../../../../style-sheets/mixin";

@media only screen and (min-width: 1081px) {
  section {
    .container {
      width: 1200px;
      margin: 0 auto;
      padding: 120px 0 30px;
    }

    .img {
      width: 50%;
    }

    article {
      margin-left: 40px;
      margin-top: 160px;
    }
  }
}

@media only screen and (max-width: 1080px) {
  section {
    .container {
      padding: .66rem .4rem;

      .img {
        width: 50%;
      }

      article {
        margin-left: .2rem;
        margin-top: .4rem;
        width: 40%;
      }
    }
  }
}
