@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

header {
  * {
    color: #fff;
  }
}

@media only screen and (min-width: 1081px) {
  header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
      margin: 0 60px;

      .logo {
        height: 50%;
      }

      nav {
        ul {
          li {
            float: left;
            margin: 0 25px;
            a {
              font-size: 14px;
            }
          }
        }
      }

      .lang {
        padding-left: 28px;
        @include icon-custom('./assets/lang.png', left, center, 18px, 18px);

        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  header {
    background-color: $deep-black-background;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: .88rem;
      padding: 0 .4rem;


      .logo {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        img {
          height: 60%;
        }
      }

      nav {
        position: absolute;
        top: .88rem;
        left: 0;
        z-index: 999;
        background-color: $deep-black-background;
        @include wh(100vw, calc(100vh - .88rem));
        ul {
          li {
            line-height: 0;
            padding: .4rem 0 .6rem;
            border-top: 1px solid #2c2a2a;
            text-align: center;
            a {
              font-size: .32rem;
            }
            &:last-of-type {
              border-bottom: 1px solid #2c2a2a;
            }
          }
        }
      }

      .lang {
        font-size: .2rem;

        a {
          font-size: .2rem;
        }
      }

      .button {
        margin-left: .4rem;
        @include wh(.4rem, .4rem);
        &.close {
          @include icon-normal('./assets/close.png');
        }
        &.open {
          @include icon-normal('./assets/open.png');
        }
      }
    }
  }
}
