@import "./../../style-sheets/theme";
@import "./../../style-sheets/mixin";

.loading {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: $light-grey-background;
  @include wh(100vw, 100vh);
  @include icon-custom('./../../assets/loading.gif',center, center, 18px, 18px);

  &.part {
    position: absolute;
    background-color: rgba(250, 250, 250, .9);
    @include wh(100%, 100%);
  }
}

@media only screen and (max-width: 1024px) {
  .loading {
    background-size: .36rem .36rem;
  }
}
