@import "../../../../style-sheets/theme";
@import "../../../../style-sheets/mixin";

@media only screen and (min-width: 1081px) {
  #tech {
    padding-bottom: 60px;
    ul {
      width: 1200px;
      margin: 60px auto 0;
      li {
        float: left;
        width: 25%;
        padding: 0 20px;
        figure {
          text-align: center;
          img {
            @include wh(99px, 99px);
            margin-bottom: 40px;
          }
          dt {
            height: 60px;
            line-height: 30px;
            margin-bottom: 20px;
            font-size: 20px;
          }
          dd {
            text-align: justify;
            font-size: 16px;
            color: $desc-color;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  #tech {
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 6.6rem;
      margin: 1rem auto 1rem;
      li {
        width: 50%;
        figure {
          margin-bottom: 1rem;
          padding: 0 .2rem;
          text-align: center;
          img {
            margin-bottom: .6rem;
            @include wh(1rem, 1rem);
          }
          dt {
            height: 1.2rem;
            line-height: .4rem;
            text-align: center;
            margin-bottom: .2rem;
            font-size: .32rem;
          }
          dd {
            line-height: .32rem;
            text-align: justify;
            font-size: .24rem;
            color: $desc-color;
          }
        }
      }
    }
  }
}
