@import "../../../../style-sheets/theme";
@import "../../../../style-sheets/mixin";

#service {
  h2.section-title {
    color: #ffffff;
    &:after {
      background-color: #ffffff;
    }
  }
  p {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
  }
}

@media only screen and (min-width: 1081px) {
  #service {
    height: 400px;
    @include icon-custom('./../../assets/about_bg.png', center, top, 1920px, 400px);
    .container {
      padding-top: 30px;
      h2.section-title {
        margin: 0 0 90px;
      }
      p {
        max-width: 820px;
        line-height: 28px;
        font-size: 20px;
        &.brief {
          margin-bottom: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  #service {
    height: 4rem;
    padding-top: .4rem;
    @include icon-custom('./../../assets/about-mobile_bg.png', center, top, 1920px, 400px);
    h2.section-title {
      margin: 0 0 .9rem;
    }
    p {
      max-width: 7rem;
      line-height: .32rem;
      font-size: .24rem;
      &.brief {
        margin-bottom: .16rem;
      }
    }
  }
}
