@import "theme";
@import "mixin";

a.common-anchor {
  transition: color .2s ease;

  &:hover, &.active {
    color: $theme-color;
  }
}

a.common-btn {
  text-align: center;
  background-color: $theme-color;
  color: #fff;
}

article.help {
  background-color: #fff;
  h2 {
    text-align: center;
  }
  h2, h3 {
    font-weight: bolder;
    color: $title-color;
  }
  h4 {
    color: $title-color;
  }
  p.sub {
    text-align: center;
    color: $light-color;
  }
  p {
    color: $desc-color;
    text-align: justify;
  }
  img {
    margin: 0 auto;
  }
}

.section-title {
  position: relative;
  text-align: center;
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: $theme-color;
  }
}

.product-intro {
  position: relative;
  img {
    position: absolute;
  }
  h1 {
    color: $title-color;
  }
  p {
    color: $desc-color;
  }
}

article.news-detail {
  p {
    text-align: justify;
    color: rgba(0, 0, 0, .8);
  }
}

@media only screen and (max-width: 1080px) {
  a.common-btn {
    line-height: .6rem;
    border-radius: .25rem;
    font-size: .2rem;
    @include wh(2.4rem, .6rem);
  }

  .section-title {
    margin-top: .8rem;
    padding-bottom: .16rem;
    font-size: .5rem;
    &:after {
      width: 1.4rem;
      height: .07rem;
    }
  }

  .index-intro {
    img.intro-image {
      margin-bottom: .56rem;
    }
  }

  article.product-intro {
    margin-bottom: .5rem;
    text-align: center;
    img {
      top: -.3rem;
      @include wh(1.16rem, .98rem);
    }
    h1 {
      max-width: 5rem;
      line-height: .7rem;
      margin: 0 auto .37rem;
      font-size: .58rem;
    }
    p {
      max-width: 6.66rem;
      line-height: .36rem;
      margin: .3rem auto;
      padding-left: .66rem;
      text-align: left;
      font-size: .28rem;
    }
  }

  article.help {
    padding: .4rem 0;
    h2 {
      font-size: .42rem;
      margin-bottom: .6rem;
    }
    h3 {
      line-height: .6rem;
      font-size: .36rem;
    }
    h4 {
      line-height: .48rem;
      margin-top: .2rem;
      margin-bottom: .2rem;
      font-size: .28rem;
    }
    p.sub {
      margin-top: .2rem;
      margin-bottom: .6rem;
      font-size: .24rem;
    }
    p.lower-1 {
      padding-left: .4rem;
    }
    p.lower-2 {
      padding-left: .8rem;
    }
    p {
      line-height: .4rem;
      font-size: .24rem;
      &:first-of-type {
        margin-top: .6rem;
      }
    }
    img {
      margin: .4rem 0;
    }
  }

  article.news-detail {
    p {
      line-height: .4rem;
      font-size: .3rem;
      &:not(:first-of-type) {
        margin-top: .4rem;
      }
    }
    img {
      margin: .6rem 0 .2rem;
    }
  }
}

@media only screen and (min-width: 1081px) {
  a.common-btn {
    line-height: 50px;
    border-radius: 25px;
    font-size: 18px;
    @include wh(220px, 50px);
  }

  .section-title {
    margin-top: 80px;
    padding-bottom: 16px;
    font-size: 50px;
    &:after {
      width: 140px;
      height: 7px;
    }
  }

  .index-intro {
    .container {
      width: 1080px;
      margin: 0 auto;
      &.image-lay-left {
        img {
          float: left;
        }
        article {
          float: right;
        }
      }
      &.image-lay-right {
        img {
          float: right;
        }
        article {
          float: left;
        }
      }
    }
  }

  article.product-intro {
    max-width: 597px;
    margin-top: 140px;
    img {
      left: -116px;
      top: -30px;
      @include wh(116px, 98px);
    }
    h1 {
      margin-bottom: 37px;
      font-size: 58px;
    }
    p {
      line-height: 36px;
      margin: 25px 0;
      font-size: 28px;
    }
  }

  article.help {
    padding: 30px 0;
    overflow: hidden;
    h2 {
      font-size: 36px;
      margin-bottom: 60px;
    }
    h3 {
      line-height: 40px;
      margin-top: 30px;
      font-size: 30px;
    }
    h4 {
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 24px;
    }
    p.sub {
      margin-top: 10px;
      margin-bottom: 30px;
      font-size: 16px;
    }
    p.lower-1 {
      padding-left: 20px;
    }
    p.lower-2 {
      padding-left: 40px;
    }
    p {
      line-height: 30px;
      font-size: 20px;
      letter-spacing: 2px;
      &:first-of-type {
        margin-top: 30px;
      }
    }
    img {
      display: block;
      width: 375px;
      margin: 40px auto;
    }
  }

  article.news-detail {
    p {
      font-size: 18px;
      &:not(:first-of-type) {
        margin-top: 20px;
      }
    }
    img {
      margin: 30px 0 10px;
    }
  }
}
