@import "theme";

/* 重置样式 */
body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  letter-spacing: 1px;
  text-decoration: none;
  border: none;
  color: #121212;
  font-weight: normal;
  font-family: "Microsoft Yahei";
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color:transparent;
  -webkit-font-smoothing: antialiased;
  &:hover {
    outline: none;
  }
}

html, body, .wrapper {
  width: 100%;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

a, span, i, b, em {
  display: inline-block;
}

img {
  width: 100%;
  vertical-align: top;
}

/* 全局可统一样式 */
@media only screen and (min-width: 1081px) {
  .wrapper {
    min-width: 1200px;
  }
}

@media only screen and (max-width: 1080px) {
  .wrapper {
    display: flex;
    flex-direction: column;

    .content {
      flex: 1;
      webkit-overflow-scrolling:touch;
    }
  }
}

/* 全局可用的class类 */
.clearfix:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
  clear: both;
}

.space-padding {
  flex: 1;
}

.m0 {
  margin: 0 auto;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}
