@import "mixin";
@import "theme";

/* 大屏幕样式 */
@media only screen and (min-width: 1025px) {
  .col-lg-1 { width: 8.333333%; }.col-lg-2 { width: 16.666667% }.col-lg-3 { width: 25% }.col-lg-4 { width: 33.333333% }.col-lg-5 { width: 41.666667% }.col-lg-6 { width: 50% }
  .col-lg-7 { width: 58.333333%; }.col-lg-8 { width: 66.666667% }.col-lg-9 { width: 75% }.col-lg-10 { width: 83.333333% }.col-lg-11 { width: 91.666667% }.col-lg-12 { width: 100% }

  .hide-lg {
    display: none;
  }

  .visible-lg {
    display: block;
  }

  .visible-lg-inline {
    display: inline;
  }

  .visible-lg-inbl {
    display: inline-block;
  }

  .text-right-lg {
    text-align: right;
  }

  .text-left-lg {
    text-align: left;
  }

  .text-center-lg {
    text-align: center;
  }
}
