@import "./../../../../style-sheets/theme";
@import "./../../../../style-sheets/mixin";

section {
  background-color: $light-grey-background;
}

@media only screen and (min-width: 1025px) {
  section {
    .container {
      padding: 40px 0;

      .img {
        width: 900px;
        margin: 0 auto;
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  section {
    .container {
      padding: .4rem 0;
      .img {
        width: 4.5rem;
        margin: 0 auto;
        margin-top: .4rem;
      }
    }
  }
}
